:root {
  --font-family1: "Work Sans", sans-serif;
  --font-family2: "Roboto", serif;

  --page-margin: 92px;
  --page-margin-small: 30px;

  --navbar-height: 80px;
  --nav-font-size: 20px;

  --side-nav-font-size: 30px;

  /* Colors */
  --primary-col: #23A064;
  --secondary-col: #77E5D2;
  --tertiary-col: #BBE2EC;
  --accent-col: #0A8754;
  --black: black;
  --white: white;
  --grey-background: #ECF1F4;
  --grey: #F0F2F4;
  --grey90: #e5e5e5;
  --grey20: #333333;

  --form-input-height: 40px;
  --form-input-width: 350px;

  --sidebar-width: 20rem;
  --sidebar-collapsed-width: 4rem;
}


/******NAVBAR******/


/* #root {
  font-family: var(--font-family1);
} */

.navbar-container {
  box-shadow: 0 8px 8px -8px rgba(0, 0, 0, 0.2);
  padding: 0 var(--page-margin) 0 var(--page-margin);
}

@media (max-width: 767px) {
  :root {
    --page-margin: var(--page-margin-small);
  }
}

.nav-item {
  /* font-family: var(--font-family1); */
  font-size: var(--nav-font-size);
  color: var(--black);
}

.navbar {
  z-index: 100;
  height: var(--navbar-height);
  background-color: transparent;
  /* box-shadow: 0 8px 8px -8px rgba(0, 0, 0, 0.2); */
}

.navbar .navbar-collapse {
  background-color: var(--white);
}
.logo-img {
  height: var(--navbar-height);
  padding: 10px;
}
.navbar-nav .nav-link:hover {
  color: var(--accent-col);
  font-size: 20px;
  font-weight: bold;
}

.navbar-nav button .nav-link:hover {
  color: var(--secondary-col);
  font-size: 20px;
  font-weight: bold;
}

.navbar-nav .btn.sign-in .nav-link  {
  color: var(--white);
  font-weight: bold;
}

.navbar-nav .btn.logout .nav-link  {
  color: var(--black);
  font-weight: bold;
}

.navbar-nav .nav-link.active  {
  color: var(--primary-col);
  font-weight: bold;
}


.navbar-nav button .nav-link.active  {
  color: yellow;
  font-weight: bold;
}

.navbar-nav  .btn.sign-in {
  background-color: var(--primary-col);
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.navbar-nav button {
  height: 45px;
  padding: 0;
}
.navbar-nav  .btn.logout {
  background-color: var(--grey90);
  /* border: 1px solid var(--primary-col); */
  border-radius: 15px;
}

/*******Home*********/

.home-div1 {
  /* background-color: var(--grey); */
  background-image: url(images/home1.png);
  background-size: cover;/*cover;*/
  background-repeat: no-repeat;
  background-position: bottom right;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  position: relative;
  height: calc(100vh - var(--navbar-height));
  padding: 0 var(--page-margin) 0 var(--page-margin);
}


.home-div1-left {
  display: flex;
  /* justify-content: center; */
  height: 100%;
  padding-top: 200px;
  align-items: flex-start;
  flex-direction: column;
  gap: 100px;
}

@media (max-width: 767px) {
  .home-div1-left {
    padding-top: 50px;
    gap: 30px;
  }
}
.home-div1-left h1 {
  font-family: var(--font-family2);
  font-size: 3rem;
  letter-spacing: 0.5rem;
  font-weight: bold;
}

.home-div1-left .home-btn-tutor {
  margin-right: 50px;
  font-family: var(--font-family1);
  background-color: var(--primary-col);
  border-radius: 25px;
  font-size: 30px;
  font-weight: bold;
  border: 2px;
  border-color: red;
  padding: 5px 30px;
  color: var(--white);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Adjust values as needed */
}


@media (max-width: 767px) {
  .home-div1-left h1 {
    font-size: 3rem;
  }
}

/* Media Query for screens larger than 768px (adjust as needed) */
@media (min-width: 768px) {
  .home-div1 {
    flex-direction: row; /* Display in a row on larger screens */
  }
}

.home-img {
  width: 100%;
}

.home-div2 {
  background-image: url(images/home2.png);
  background-size: cover;/*cover;*/
  background-repeat: no-repeat;
  background-position: top;
  display: flex;
  align-items: flex-end;
  justify-content: right;
  /* background-color: antiquewhite; */
  /* min-height: 100vh; */
  height: calc(100vh - 100px);
  padding: 0 var(--page-margin) 0 var(--page-margin);
}

.home-div1-left button,
.home-div2 button {
  font-family: var(--font-family1);
  background-color: var(--grey90);
  border-radius: 25px;
  font-size: 30px;
  font-weight: bold;
  border: 1px solid;
  border-color: var(--primary-col);
  padding: 5px 30px;
  color: var(--black);
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}


@media (max-width: 768px) {
  .home-div2 {
    height: 500px;
  }
}
/* .home-div2 img {
  width: 100vw;
} */

/******LOGIN**********/

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - var(--navbar-height));
}

/* .login .login-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
  width: 500px;
  border: 1px solid var(--black);
} */

/* .login .generic-form { */
  .generic-form {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  column-gap: 50px;
  width: 500px;
  /* border: 1px solid var(--black); */
  padding: 60px 0 60px 0;
  margin: 0 var(--page-margin) 0 var(--page-margin);

  /* Add box-shadow */
  box-shadow: 0 1px 16px rgba(0, 0, 0, 0.2); /* Adjust values as needed */
}

.icon-container {
  position: absolute;
  top: 15px;
  right: 15px;
}

.icon-container .close-icon {
  width: 30px;
  height: 30px;
}

.icon-container button{
  width: fit-content !important;
  background-color: transparent;
}

.generic-form .title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login .generic-form .login-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  column-gap: 50px;
  /* width: 500px; */
  /* border: 1px solid; */
}

.generic-form *:not(.login-form) {
  border: none;
}

.generic-form label, input {
  font-size: 20px;
}

.generic-form input {
  font-size: 20px;
  background-color: var(--grey-background);
  /* color: var(--grey-text); */
}

.generic-form input:-webkit-autofill {
  transition: background-color 5000s ease-in-out 0s;
}


.generic-form input {
  display:block;
  width: var(--form-input-width);
  height: var(--form-input-height);
  margin: 5px auto 15px auto;
  border-radius: 10px;
  padding: 0 15px 5px 15px;
}

.generic-form input:focus,
.login-form button:focus {
  outline: none;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4); /* Adjust values as needed */
}

.password-toggle-btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: none;
  cursor: pointer;
  font-size: 18px;
  width: 40px !important;
}

.login-form .password-toggle-btn:focus,
.login-form .password-toggle-btn:active {
  outline: none;
  box-shadow: none;
}



.generic-form .button-group {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  margin: 15px auto 15px auto;
}

.generic-form button {
  display:block;
  width: var(--form-input-width);
  height: var(--form-input-height);
  border-radius: 10px;
}

.generic-form .button-group .separator {
  margin: 5px auto 5px auto;
  font-size: 25px;
  font-weight: bold;
}

.generic-form .button-group .sign-in {
  background-color: var(--accent-col);
  color: var(--white);
  font-size: 20px;
}

.generic-form .button-group .sign-in-g {
  background-color: var(--grey);
  color: var(--black);
  font-size: 20px;
}

.login-form .button-group img {
  height: 25px;
}

.generic-form .sign-up {
  font-size: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
  width: var(--form-input-width);
}

.generic-form .sign-up .sign-up-link {
  color: var(--black);
}


.password-input-container {
  position: relative;
}

.form-group .radio-group {
  display: flex;
  width: 350px;
}

.form-group .radio-group input {
  height: calc(var(--form-input-height)/1.5);
  width: calc(var(--form-input-height)/1.5);
  margin-bottom: 10px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* 
  margin-right: 20px; */
}

.form-group .radio-group input:focus,
.form-group .radio-group input:active {
  outline: none;
  box-shadow: none;
}

.generic-form abbr {
  color: var(--primary-col);
  position: relative;
  cursor: help;
}

.generic-form abbr:hover::after {
  content: attr(data-title);
  position: absolute;
  left: 0;
  top: 100%;
  padding: 5px;
  background-color: var(--primary-col);
  color: white;
  border-radius: 3px;
  display: none;
  /* white-space: nowrap; */
  width: max-content;
  display: block;
}

/* .generic-form abbr:hover::after {
  display: block;
}

.generic-form abbr:hover {
  font-size: initial; 
} */


/**********MYDESK***********/
/* .mydesk {
  display: flex;
  position: relative;
  align-items: center;
  min-height: calc(100vh - var(--navbar-height));
}
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 550px;
  width: fit-content;
  padding: 0px;
  background-color: var(--primary-col);
}


.sidebar .nav-item {
  font-family: var(--font-family2);
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  white-space: nowrap;
}

.sidebar .nav-item .nav-link {
  color: black;
}
.sidebar .nav-item .nav-link.active {
  background-color: transparent;
  font-weight: bold;
}

.sidebar .nav-item .nav-link.active .pe-none.me-3 {
  color: var(--white);
}

@media (max-width: 767px) {
  .sidebar {
    width: 60px;
    overflow-x: hidden;
  }
}


.mydesk .courses {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--grey-background);
  width: 100%;
  min-height: calc(100vh - var(--navbar-height));
}  */



/*******My desk*******/
.mydesk {
  /* background-color: var(--tertiary-col); */
  display: flex;
  position: relative;
  min-height: calc(100vh - var(--navbar-height));
  /* width: 100vw; */
}

.mydesk-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  /* width: calc(100vw - var(--sidebar-collapsed-width)); */
  /* background-color: red; */
  padding-top: 15px;
  padding-left: calc(var(--sidebar-collapsed-width));
  /* padding-right: calc(var(--sidebar-collapsed-width)); */

  /* margin-right: calc(var(--sidebar-collapsed-width) + 0.5rem); */
}

.sidebar-container {
  height: calc(100vh - var(--navbar-height));
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: fit-content;
}

.sidebar {
  background-color: var(--grey);
  padding: 1rem;
  margin: auto 0 auto;
  border-radius: 0.65rem;
  width: var(--sidebar-width);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: hidden;
  z-index: 10;
  /* flex-wrap: nowrap; */
}

.sidebar.collapsed {
  width: var(--sidebar-collapsed-width);
}

.header {
  display: flex;
  gap: 0.5rem;
  align-items: flex-end;
  justify-content: flex-end;
}

.header.collapsed {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
}

/* .company-name {
  margin: 0;
} */

.toggle-button {
  cursor: pointer;
  padding: 0;
  border: 0;
}

.toggle-button .fa-icon-toggle {
  font-size: 35px;
}

.menu-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.menu-item {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  width: fit-content;
  font-family: var(--font-family1);
  font-size: var(--side-nav-font-size);
  color: var(--grey20);
  }

  .menu-link {
    text-decoration: none;
    color: inherit;
  }
  
  .menu-link:hover {
    /* Optional: Add styles for hover state */
    text-decoration: underline;
    color: #007BFF; /* Optional: Change color on hover */
  }

.sidebar .fa-icon {
  margin-right: 1.5rem;
}

/**cal**/

.calendar-header {
display: flex;
width: 100%;
justify-content: space-between;
margin-top: 10px;
margin-bottom: 10px;
}

.calendar-header button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: var(--accent-col);
  color: var(--white);
  font-family: var(--font-family1);
  font-size: 22px;
  padding: 0 30px 0 30px;
  margin-right: 10px;
  border-radius: 50px;
  }

.calendar {
  height: 100%;
  width: 100%;
}
/* 
@media (max-width: 767px) {
  .calendar {
    height: 500px;
    width: 100%;
  }
} */

.calendar-event {
  display: flex;
  position: relative;
}
.delete-booking-btn {
  background-color: transparent;
  border: none;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  position: absolute;
  
  /* margin-left: 20px; */
}

/**mydesk courses**/
.course-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .course-list {
    width: 50%;
  }
}

.course-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
  width: 150px;
  background-color: transparent;
  border: 0;
}

.course-btn h5 {
  display: block;
  text-align: center;
  word-wrap: break-word;
}

.course-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  border: 2px solid var(--grey);
  border-radius: 50%;
  font-size: 60px;
  color: var(--grey20);
  background-color: var(--grey);
}

.course-icon.add {
  background-color: var(--accent-col);
  color: var(--white);
}


/* Add this to your CSS */
.modal {
  opacity: 0; /* Initially hide the modal */
  /* Add other styling properties as needed */
}

.modal.show {
  left: auto;
  top: var(--navbar-height);
  overflow-y: scroll;
  background-color: white;
  position: fixed;
  opacity: 1;
}

.modal.show::-webkit-scrollbar {
  display: none;
}